<div class="dropdown">
  <button [ngClass]="getClassType(type)" (click)="toggleDropdown()" [disabled]="disabled">
    @if (type === 'filter') {
      <img
        class="icon-filter"
        src="../../../../assets/icons/filter.png"
        alt="icon"
      >
    }

    @if (selectedOption === 'Reiniciar filtro') {
      <span class="btn-name">{{ 'filtrar dato' | titlecase }}</span>
    }@else {
      <span class="btn-name">{{ selectedOption | titlecase }}</span>
    }

    <img
      class="btn-icon"
      src="../../../../assets/icons/Polygon_1.png"
      alt="icon_polygon"
    >
  </button>
  @if (isOpen) {
    <ul class="dropdown-menu">
      @for (option of options; track $index) {
        <li (click)="selectOption(option)">
          {{ option | titlecase}}
        </li>
      }
    </ul>
  }
</div>
