.income-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #D9D9D9;
  font-family: 'Poppins';
}

.dashboard-top {
  display: flex;
  gap: 128px;
}

.rectangle {
  height: 243px;
  width: 416px;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.price {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #393F50;
  font-weight: bold;
}

.currency {
  font-size: 28px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.price-number {
  font-size: 36px;
  text-align: center;
  margin: 0 auto;
}

.table-container {
  background-color: #FBDEFF;
  width: 959px;
  border-radius: 10px;
  padding: 35px 50px;
}

/*************************Button Filter**********************/
.buttons-filter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
}

/*************************Table******************************/

table {
  width: 100%;
  font-family: 'poppins';
  font-size: 14px;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 10px 10px 0 0;
  color: #1D2820;
}

th {
  font-weight: 600;
  vertical-align: bottom;
  height: 60px;
}

th, td {
  padding: 7px 20px;
}

.td-description {
  display: flex;
  justify-content: center;
}

/*************************Grafico*****************************/
.graphic {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.graph-title {
  font-size: 20px;
  font-weight: bold;
}

/*************************Botones*****************************/
.btn-base {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #989696;
  background-color: #FFFFFF;
  border: 1px solid #989696;
  border-radius: 5px;
  min-width: 160px;
}

.btn-base:hover {
  background-color: #f1f1f1;
}


/*******************Graphic Bar**************************/
.graphicBar-container {
  background-color: #FFFFFF;
  width: 959px;
  padding: 35px 50px;
  border-radius: 10px;
}
