<div class="income-container">
  <div class="dashboard-top">

    <div class="price rectangle">
      <span class="currency">ARS</span>
      <span class="price-number">$750.000</span>
    </div>

    <div class="graphic rectangle">
      <span class="graph-title">Ingresos Totales Septiembre</span>
       <!-- <app-swap-graphics/> -->
    </div>

  </div>

  <div>
    <div class="buttons-filter">
      @if (isYearsOrMonthsDropdown()) {
        <btn-dropdown
          [options]="months"
          [label]="getCurrentMonth()"
          type="borderless"
          [disabled]="typeToFilter() === ''"
          (selectedValue)="getMonthToFilter($event)"
        />
      } @else {
        <btn-dropdown
          [options]="years"
          [label]="currentYear.toString()"
          type="borderless"
          (selectedValue)="getYearToFilter($event)"
          [disabled]="typeToFilter() === ''"
        />
      }

       <btn-dropdown
          [options]="filterType"
          type="filter"
          label="filtrar datos"
          (selectedValue)="getTypeToFilter($event)"
        />
    </div>

    @if (isYearsOrMonthsDropdown()) {
      <div class="table-container">
        <table class="payment-table">
            <thead class="header-titles">
              <tr>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Monto</th>
                <th>Categoria</th>
                <th>Descripción</th>
              </tr>
            </thead>
            <tbody class="body">
              @for (income of filterByMonth(); track income) {
                <tr>
                  <td>{{ income.origen }}</td>
                  <td>{{ income.date | date:'MM/dd/yyyy' }}</td>
                  <td>
                    <span>{{ currency }} </span>
                    <span>{{ income.total | numberWithDots }} </span>
                  </td>
                  <td>
                    <btn-dropdown
                      [options]="categoryOptions"
                      label="categoria"
                    />
                  </td>
                  <td class="td-description">
                    <button class="btn-base">Descripción</button>
                  </td>
                </tr>
              }
            </tbody>
          </table>
          <paginator [dataList]="incomeList" [rowsPerPage]="rawsPerPage" (pageChange)="onPageChange($event)"/>
      </div>
    } @else {
      <div class="graphicBar-container">
        @if (isLoading) {
          <app-spinner class="spinner"/>
        }

        @if(!isLoading) {

          @if(filterByYear().length > 0){
            <bar-graphic
              [labels]="months"
              title="Historial De Ingresos"
              [data]="filterByYear()"
              [barStyles]="barStyles"
            />
          }@else {
            <p class="spinner">No hay información disponible</p>
          }

        }
      </div>
    }

  </div>

</div>



