.container{
  background-color: var(--base-white);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  padding: 40px;
  border-radius: 10px;
}

.btn{
  margin: 5px;
  border: none;
}

.btn-primary{
  background-color: var(--azul-primario-1000);
}

.btn-secondary{
  background-color: var(--azul-primario-700);
}