
table {
  width: 100%;
  font-family: 'poppins';
  font-size: 14px;
  text-align: left;
  background-color: #FFFFFF;
  border-radius: 10px 10px 0 0;
  color: #1D2820;
}

th {
  font-weight: 600;
  vertical-align: bottom;
  height: 60px;
}

.th-center {
  text-align: center;
}

th, td {
  padding: 7px 20px;
}

.td-category {
  text-align: center;
}

.td-description {
  display: flex;
  justify-content: center;
}