.profile-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profile_header {
  display: flex;
  align-items: center;

  justify-content: flex-start;
  gap: 30px;

  background-color: #fafafa;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 20px;
}

.profile_name h1 {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.profile_name p {
  color: #000000;
  font-size: 20px;
  font-weight: lighter;
  margin: 0;
}

.header-image {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  object-fit: cover;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  margin: 34px 0 34px 24px;
}

.menu {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  cursor: pointer;
}

.menu-item img {
  margin-right: 45px;
}

.menu-item:hover {
  background-color: #f0f0f0;
}
.span_one {
  font-size: 25px;
  font-weight: bold;
  color: #000000;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);

  text-align: left;
  flex-grow: 1;
}

.btn-icon {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}

.btn-icon img {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #005561;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
