<div class="profile-container">

    <div class="profile_header">
    <img src="assets/imagePerfilTest.png" alt="Peril image" class="header-image">
  <!-- <h1>{{ user.name }}</h1>
    <p>{{ user.email }}</p>--> 
<div class="profile_name">
    <h1 class="profile_name">Daniel Velázquez</h1>
    <label for="email" class="profile-email-label"></label>
    <p id="email" class="profile-email">daniel.velazquez&#64;gmail.com</p>
</div>

</div >
    <div class="menu">
      <div  class="menu-item" >
        <img src="assets/icons/personal-info.svg" alt="Personal Information Icon">
        <span class="span_one">Información personal</span>
        <button class="btn-icon">
            <img src="assets/icons/arrow-right.svg" alt="Button Icon">
          </button>
 
      </div>
      <div class="menu-item" >
        <img src="assets/icons/account-data.svg" alt="Account Data Icon">
        <span class="span_one">Datos de tu cuenta</span>
        <button [routerLink]="['/home','account-data']"  class="btn-icon">
          <img src="assets/icons/arrow-right.svg" alt="Button Icon">
        </button>
      </div>
   
   
      </div>
      <div class="menu-item">
        <img src="assets/icons/security.svg" alt="Security Icon">
        <span class="span_one">Seguridad</span>
        <button class="btn-icon">
            <img src="assets/icons/arrow-right.svg" alt="Button Icon">
          </button>
    
      </div>
      <div class="menu-item">
        <img src="assets/icons/credit-card.svg" alt="cardCredit Icon">
        <span class="span_one"><strong>Tarjetas</strong></span>
        <button class="btn-icon">
            <img src="assets/icons/arrow-right.svg" alt="Button Icon">
          </button>
      
      </div>
      <div class="menu-item" (click)="navigateTo('addresses')">
        <img src="assets/icons/addresses.svg" alt="Addresses Icon">
        <span class="span_one"> <strong>Direcciones</strong></span>
        <button class="btn-icon">
            <img src="assets/icons/arrow-right.svg" alt="Button Icon">
          </button>
     
      </div>
      <div class="menu-item" (click)="navigateTo('privacy')">
        <img src="assets/icons/privacy.svg" alt="Privacy Icon">
        <span class="span_one">Privacidad</span>
        <button class="btn-icon">
            <img src="assets/icons/arrow-right.svg" alt="Button Icon">
          </button>
      
      </div>
    </div>

  