.graphic-container {
  background-color: var(--base-white);
  position: relative;
  width: 95%;
  /*Minimo 290px*/
  max-height: 100%;
  /*Minimo 130*/
}

canvas {
  width: 100% !important;
  max-height: 91% !important;
}