<div class="container">

  <div class="manage-payments">
    <div class="title">
      Pagos pendientes
    </div>

    <div class="buttons-header">
      <button class="add-button" (click)="dialog.openDialog()">
        <img class="icon" src="assets/icons/add.svg" alt="icon">
        <span>Agregar Pago</span>
      </button>
      <register-payments-dialog #dialog (formValues)="setNewPaymentRegistered($event)"/>
    </div>

    <div class="table-wrapper">
      <table class="payment-table">
        <thead class="header-titles">
          <tr>
            <th>Fecha</th>
            <th>Nombre y Apellido</th>
            <th>Servicio</th>
            <th>Monto</th>
            <th>Estado</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="body">
          @for (collaborator of collaboratorsData; track $index) {
            <tr>
              <td>{{ collaborator.date | date:'dd/MM/yyyy'}}</td>
              <td>{{ collaborator.name }}</td>
              <td>{{ collaborator.service }}</td>
              <td>
                <span>{{ currency }} </span>
                <span>{{ collaborator.monto | numberWithDots }}</span>
              </td>
              <td>
                <div class="td-state">
                  {{ collaborator.state }}
                  <div [ngClass]="getStateColor(collaborator.state)" class="state-color"></div>
                </div>
              </td>
              <td class="td-button">
                <button (click)="openDialog(collaborator)">Pagar</button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <paginator [dataList]="collaborators" [rowsPerPage]="rawsPerPage" (pageChange)="onPageChange($event)"/>
  </div>

  <div class="payment-history">

    <div class="title">
      Historial de pagos
    </div>

    <div class="table-wrapper">
      <table class="history-table">
        <thead class="header-titles">
          <tr>
            <th>Fecha</th>
            <th>Nombre y Apellido</th>
            <th>Servicio</th>
            <th>Monto</th>
            <th>Medio De Pago</th>
          </tr>
        </thead>
        <tbody class="body">
          @for (collaborator of paymentHistoryData; track collaborator) {
            <tr>
              <td class="td-history">{{ collaborator.date | date:'dd/MM/yyyy'}}</td>
              <td class="td-history">{{ collaborator.name }}</td>
              <td class="td-history">{{ collaborator.service }}</td>
              <td class="td-history">
                <span>{{ currency }} </span>
                <span>{{ collaborator.monto | numberWithDots }}</span>
              </td>
              <td class="td-history">{{ collaborator.wallet }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <paginator [dataList]="collaboratorsHistorie" [rowsPerPage]="rawsPerPage" (pageChange)="onHistoriePageChange($event)"/>
  </div>

</div>
