
h4 {
  font-size: medium;
}

.contenedor{
  height: 30vh;
  background-color: var(--base-white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1vh;
  margin-left: 0.5vw;
}

.tabla{
  margin-top: 1vh;
}