main{
  height: 100%;
}

.top-bar{
  min-height: 10%;
  background-color: var(--rosa-secundario-900);
}

.row{
  width: auto;
  padding: 0;
  margin: 0; 
}

.col{
  background-color: #d9d9d9;
  margin: 1vw;
}

.content{
  min-height: 90%;
  width: auto;
  background-color: #d9d9d9;
}

app-navbar{
  background-color: bisque;
  width: 13vw;
  padding: 0;
}

.outlet{
  display: flex;
  align-content: center;
  justify-content: center;
}