<div class="fiscal-container">
 
    <div class="fiscal-header">
      <div class="fiscal-header-item">Tipo de impuesto</div>
      <div class="fiscal-header-item">Monto</div>
      <div class="fiscal-header-item">Vencimiento</div>
      <div class="fiscal-header-item">Notificación por email</div>
      <div class="fiscal-header-item">Estado del pago</div>
      <div class="fiscal-header-item">Pagar</div>
    </div>
    <div class="card">
    <div class="fiscal-body">
      <div class="fiscal-row" *ngFor="let obligation of obligations">

        <div class="fiscal-item">{{ obligation.tipo_impuesto }}</div>
        <div class="fiscal-item">{{ obligation.monto_a_pagar| currency: 'ARS'}}</div>
        <div class="fiscal-item">{{ obligation.fecha_vencimiento| date:'dd/MM/yyyy' }}</div>
        <div class="fiscal-item">
          <label class="switch">
            <input type="checkbox" [(ngModel)]="obligation.email_automatico">
            <span class="slider"></span>
          </label>
        </div>
        <div class="fiscal-item">
          <span class="status-dot" [ngClass]="getStatusClass(obligation.estado_pago)"></span>
        </div>
        <div class="fiscal-item">
          <button class="pay-btn"  (click)="openDialog(obligation)">PAGAR</button>
        </div>
      </div>
      <div *ngIf="obligations.length === 0" class="no-obligations">
        <p>No hay obligaciones fiscales disponibles.</p>
      </div>
    </div>
   
  </div>
</div>

<div class="fiscal-footer">
  <button class="footer-btn">Datos impositivos</button>
  <button class="footer-btn">Declaración de impuestos</button>
  <button class="footer-btn">Normativas</button>
</div>
