<div class="account-data-container">

    <div class="button_div"> 
    <button class="edit-btn" (click)="editAccount()">
      <img src="assets/icons/edit.svg" alt="Editar">
      Editar
    </button>
</div>
    <h2 class="title_account">Datos de la cuenta</h2>
  
    <div class="account-info">
      <p><strong>Nombre de usuario</strong></p>
      <p>Daniel Velázquez</p>
    </div>
  
    <div class="account-info">
      <p><strong>Email</strong></p>
      <p>daniel.velazquez&#64;gmail.com</p>
    </div>
  
    <div class="account-info">
      <p><strong>País</strong></p>
      <p>Argentina</p>
    </div>
  
    <div class="account-info">
      <p><strong>Número de teléfono</strong></p>
      <p>+549 012 3456789</p>
    </div>
  
    <div class="account-info">
      <p><strong>Plataforma de contenido</strong></p>
      <p>YouTube, Twitch</p>
    </div>
  
    <div class="account-info">
      <p><strong>Condición Fiscal</strong></p>
      <p>Monotributista Categoría A</p>
    </div>
  
 
  </div>
  
