.graphic-container{
  background-color: var(--base-white);
  position: relative;
  width: 100%; /*Minimo 290px*/
  max-height: 265px; /*Minimo 130*/
}

canvas{
  width: 100% !important;
  height: 100% !important; 
}